{% load staticfiles %}
<html>
    <head>
        <title>Doc Merge Dash</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/dash.css' %}">
        <link href="http://fonts.googleapis.com/css?family=Ubuntu&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel='shortcut icon' type='image/x-icon' href="{% static './favicon.ico' %}"/>
    </head>
    <body>
        <div class="page-header">
            <h1>Doc Merge</h1>
            <h3><a href ="/home/" title="Take me home">Home</a> - <a href ="/test/" title="Test Document Flow">Test</a> - <a href ="/library/" title="Library of Documents and Other Resources">Library</a> - <a href ="/archive/" title="Archive of Requests and Documents">Archive</a> - <a href ="/account/" title="Account Settings and Status">Account</a> - <a href ="/links/" title="Helpful Links">Links</a></h3>
        </div>
        <section class="content container_fluid">
            <div class="row">
                <div class="col-md-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div>
                    <div id="ads" class="col-md-3">
                        <h2>About Doc Merge</h2>
                        <p>Doc Merge (provisional name!) is a web service for generating formatted documents through the merging of templates and data.
                        <ul>
                            <li>This is a pre-pilot demonstrator</li>
                            <li>Some (many) features are not yet live</li>
                            <li>(c) Revolutionary Systems 2016</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>    
    </body>
</html>