{% extends 'dash/base.html' %}

{% block content %}
        <h2><a href="">Resource Library</a></h2>
            {% if warning %}
            <h3>{{ warning }} </h3>
            <ul>
                <li><a href = "{{ authuri }}">Click here to link to Google Drive</a></li>
            </ul>
            {% endif %}
            <!--div class="row widget"-->
            <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": ".grid-item"}'>
                    {% for widget in widgets %}
                    <div class="grid-item widget">
                        <!--div class="widget col-lg-6 col-md-6 col-sm-6 col-xs-12"-->
                            <h3><a href=""><span class="{{ widget.glyph }}"></span> {{ widget.title }}</a></h3>
                    <div>                     
                    {% if widget.refreshForm %}
                    <a href = "/refresh/?local={{widget.path}}&remote=" title = "Refresh the files in this folder only" target="_blank" data-confirm="Are you sure you want to refresh {{widget.path}}?">Refresh</a>
                    <span> - </span><a href = "/refresh/?local={{widget.path}}&remote=&all=true" target="_blank" title = "Refresh the files in this folder and all sub-folders" data-confirm="Are you sure you want to refresh '{{widget.path}}'' and ALL SUBFOLDERS?">Refresh All</a>
                    <span> - </span><a href = "/refresh/?local={{widget.path}}&remote=&all=true&clear=true" target="_blank" title = "Delete the files in this folder and all sub-folders and then refresh from library?" data-confirm="Are you sure you want to clear {{widget.path}} and subfolders and refresh from library?">Rebuild All</a>
                    <span> - </span><a href = "/clear/?local={{widget.path}}&all=true" target="_blank" title = "Delete the files in this folder and all sub-folders" data-confirm="Are you sure you want to clear {{widget.path}} and subfolders">Clear All</a>
                    {% endif %}
                    {% if "emplate" in widget.title %}{% if widget.refreshForm %}
                    <span> - </span>{% endif %} <a href="../test/?template_subfolder={{ widget.subfolder }}" target="_blank" title = "Test the templates in this folder">Test</a><span> - </span><a title = "{{widget}}">*</a>
                    {% endif %}
                    </div>
                    </form>
                        <table>
                        {% for file in widget.files %}
                            <tr>
                            {% if file.isdir %}
                                <strong>
                                <td class="libcell" colspan=6>
                                {% if file.name == ".." %}
                                    {% if file.parent.folder %}
                                        <a href="../library_folder/?root={{ file.parent.root}}&folders={{ file.parent.folder }}" >Open Parent</a> 
                                    {% else %}
                                        <a href="../library/" >Open Parent</a>
                                    {% endif %}
                                {% else %}
                                    {% if file.is_local == 'Y' and file.is_remote == 'Y' or file.is_remote == 'X'%}
                                        <a href="../library_folder/?root={{ widget.title}}&folders={{ file.name }}" >Open Folder</a>
                                    {% elif file.is_remote == 'Y' %}<a href="../library_folder/?root={{ widget.title}}&folders={{ file.name }}" >GD Only</a>{% else %}<a href="../library_folder/?root={{ widget.title}}&folders={{ file.name }}" >EPServer Only</a>{% endif %}
                                {% endif %}
                                </td>
                                <td class="libcell">
                                {{ file.name }}
                                </td>
                                </strong>
                            <tr>
                            {% endif %}
                        {% endfor %}       
                        <tr>
                                <td class="headcell" colspan=2 align="center" title="Google Docs Library">GD</td>
                                <td class="headcell" colspan=1></td>
                                <td class="headcell" colspan=2 align="center" title="Echo Publish Server">EP</td>
                                <td class="headcell" colspan=2 align="center">File</td>
                        </tr>
                        {% for file in widget.files %}
                            <tr>
                            {% if not file.isdir %}
                                {% if file.is_remote == 'Y' %}
                                <td class="libcell"><a title = "Edit in Google Docs; {{ file.modifiedTime }}" href="https://drive.google.com/open?id={{ file.id}}" target="_blank">E</a></td>
                                <td class="libcell"><a title = "View in Google Docs; {{ file.modifiedTime }}" href="https://drive.google.com/a/revolutionarysystems.co.uk/file/d/{{ file.id }}/view" target="_blank">V</a></td>
                                {% else %}
                                <td class="libcell" colspan="2"/>
                                {% endif %}
                                <td class="libcell">
                                {{ file.is_remote}}-{{file.is_local}}
                                </td>
                                {% if file.is_local == 'Y' %}
                                        {% if file.edit_local == 'Y' %}
                                                {% if file.ext != '.css' or "emplate" in widget.title %}
                                                        <td class="libcell"><a title = "{{ file.mtime }}" href="../file/?name={{ file.name }}&path={{ widget.path }}" target="_blank">Fresh</a></td>
                                                {% else %}
                                                        <td class="libcell"><a title = "{{ file.mtime }}" href="../edit/?file_name={{ file.name }}&file_path={{ widget.path }}" target="_blank">Fresh</a></td>
                                                {% endif %}
                                        {% else %}
                                                <td class="libcell"><a title = "{{ file.mtime }}" href="../file/?name={{ file.name }}&path={{ widget.path }}" target="_blank">Fresh</a></td>
                                        {% endif %}
                                {% elif file.is_local == 'R' %}
                                    <td class="libcell"><a title = "{{ file.mtime }}" href="../file/?name={{ file.name }}&path={{ widget.path }}" target="_blank">Stale </a></td>
                                {% elif file.is_local == 'S' %}
                                    <td class="libcell"><a title = "{{ file.mtime }}" href="../file/?name={{ file.name }}&path={{ widget.path }}" target="_blank">Stale </a></td>
                                {% else %}
                                    <td class="libcell"/>
                                {% endif %}
                                {% if file.is_local == 'Y' %}
                                    <td class="libcell"><a title = "Edit on Echo Server" href="../compose/?file_name={{ file.name }}&file_path={{ widget.path }}" target="_blank">E</a></td>
                                    <td class="libcell"><a title = "Delete from Echo Server" href="../delete/?file_name={{ file.name }}&file_path={{ widget.path }}" data-confirm="Are you sure you want to delete {{file.name}}?">X</a></td>
                                    <td class="libcell">{{ file.name }}</td>
                                {% elif file.is_local == 'S' %}
                                    <td class="libcell"><a title = "Edit on Echo Server" href="../compose/?file_name={{ file.name }}&file_path={{ widget.path }}" target="_blank">E</a></td>
                                    <td class="libcell"><a title = "Delete from Echo Server" href="../delete/?file_name={{ file.name }}&file_path={{ widget.path }}" data-confirm="Are you sure you want to delete {{file.name}}?">X</a></td>
                                    <td class="libcell nb">{{ file.name }}</td>
                                {% else %}
                                    <td class="libcell" colspan="1"/>
                                    <td class="libcell nb">{{ file.name }}</td>
                                {% endif %}
                            {% endif %}
                            <tr>
                        {% endfor %}
                        </table>
                    </div>
                {% endfor %}
        </div>
{% endblock %}        
