{% extends 'dash/base.html' %}

{% block content %}
	<h2><a href="">Links to Reference Material</a></h2>
        <div class="row widget">
            <div>
		<h3><a href="../guide" target="_blank"><span class="glyphicon glyphicon-paperclip"></span> A Guide to Echo Publish - Start Here</a></h3>
		<h3><a href="../api-guide" target="_blank"><span class="glyphicon glyphicon-paperclip"></span> A Guide to Echo Publish API</a></h3>
		<h3><a href="../template-guide" target="_blank"><span class="glyphicon glyphicon-paperclip"></span> A Guide to Creating Templates in Echo Publish</a></h3>
		<h3><a href="../flow-guide" target="_blank"><span class="glyphicon glyphicon-paperclip"></span> A Guide to Echo Publish Flow Definitions</a></h3>
		<h3><a href="https://docs.djangoproject.com/en/1.9/topics/templates/#the-django-template-language" target="_blank"><span class="glyphicon glyphicon-paperclip"></span> Template Language</a></h3>
            </div>
        </div>
{% endblock %}        
