{% extends 'dash/base.html' %}

{% block content %}
	<h2><a href="">Test a Document Template</a></h2>
        {% if warning %}
            <h3>{{ warning }} </h3>
            <ul>
                <li><a href = "../link">Click here to link to Google Drive</a></li>
            </ul>
        {% else %}    

        <div class="row widget">
            <div>
            	{% if hideforms == "N" %}
		 	<h3>Current template folder: {% if sub_title %}{{sub_title}}{% else %}/{% endif %}</h3>
		 	<h3><a href=""><span class="glyphicon glyphicon-folder-open"></span> Choose template folder</a></h2>
		        <form id="nav" method="GET" class="query-form" action="/test-nav">
		                {{ navForm.as_p }}
		                <button type="submit" class="save btn btn-warning">Change folder</button>
		        </form>
	            	<input id="form_control" type="checkbox"/><label for="form_control">Advanced</label>
		 	<h3><a href=""><span class="glyphicon glyphicon-hand-up"></span> Request document merge</a></h2>
		        <form id="basic" method="GET" class="query-form" action="/test-result-get">
		                {{ mergeForm.as_p }}
		                <button type="submit" class="save btn btn-warning">Request Doc</button>
		        </form>
		        <form id="advanced" method="POST" class="query-form" action="/test-result-post/">
		                {{ advMergeForm.as_p }}
		                <button type="submit" class="save btn btn-warning">Request Doc</button>
		        </form>
	        {% endif %}
	        {% if merge_response %}
	 	<h3><a href=""><span class="glyphicon glyphicon-info-sign"></span> Result</a></h2>
		 <ul>
		<h4>Overall success:</h4>
		<li>{{ merge_response.success}}</li>
		{% if merge_response.messages %}
		<h4>Messages:</h4>
		{% for message in merge_response.messages %}
		        <li>{{ message }}</li>
		{% endfor %}
		{% endif %}
		{% if merge_response.traceback %}
		        <li>{{ merge_response.traceback }}</li>
		{% endif %}
		<h4>Steps:</h4>
	        {% for outcome in merge_response.steps %}
		        <li>{{ outcome.step }}</li>
		        <ul>
		        {% if outcome.outcome.id %} 
			        <li><a href="https://drive.google.com/a/revolutionarysystems.co.uk/file/d/{{ outcome.outcome.id }}/view" target="_blank">Link</a> {{ outcome.outcome.name }} - {{ outcome.outcome.mimeType }}</li>		 
		        {% endif %}
		        {% if outcome.outcome.link %} 
			        <li><a href="{{ outcome.outcome.link }}" target="_blank">Link</a> {{ outcome.outcome.file }}</li>		 
		        {% endif %}
		        </ul>
		{% endfor %}
		{% endif %}
		</ul>
		<!--
		 <h3>Detail</h3>
	        {% for outcome in merge_response.outcomes %}
		        <p>{{ outcome.step }}</p>
		        <ul>
		        <li>file: {{ outcome.outcome.file }}{{ outcome.outcome.name }}</li>
		        <li>type: {{ outcome.outcome.mimeType }}</li>
		        <li>id: {{ outcome.outcome.id }}</li>
		        </ul>
		 {% endfor %}
		 -->
            </div>
        </div>
        {% endif %}
{% endblock %}        
