{% extends 'dash/base.html' %}

{% block content %}
	<h2><a href="">Test Document Merge Flow</a></h2>
        <div class="row widget">
            <div>
	 	<h3><a href=""><span class="glyphicon glyphicon-question-sign"></span> Request</a></h2>
            	<input id="form_control" type="checkbox"/><label for="form_control">Advanced</label>
	        <form id="basic" method="GET" class="query-form" action="/test-result-get">
	                {{ mergeForm.as_p }}
	                <button type="submit" class="save btn btn-warning">Request Doc</button>
	        </form>
	        <form id="advanced" method="POST" class="query-form" action="/test-result-post/">
	                {{ advMergeForm.as_p }}
	                <button type="submit" class="save btn btn-warning">Request Doc</button>
	        </form>
	 	<h3><a href=""><span class="glyphicon glyphicon-info-sign"></span> Result</a></h2>
		 <ul>
		<h4>Overall success:</h4>
		<li>{{ merge_response.success}}</li>
		<h4>Messages:</h4>
		{% for message in merge_response.messages %}
		        <li>{{ message }}</li>
		{% endfor %}
		<h4>Steps:</h4>
	        {% for outcome in merge_response.steps %}
		        <li>{{ outcome.step }}</li>
		        <ul>
		        {% if outcome.outcome.id %} 
			        <li><a href="https://drive.google.com/a/revolutionarysystems.co.uk/file/d/{{ outcome.outcome.id }}/view" target="_blank">Link</a> {{ outcome.outcome.name }} - {{ outcome.outcome.mimeType }}</li>		 
		        {% endif %}
		        {% if outcome.outcome.link %} 
			        <li><a href="{{ outcome.outcome.link }}" target="_blank">Link</a> {{ outcome.outcome.file }}</li>		 
		        {% endif %}
		        </ul>
		{% endfor %}
		</ul>
		<!--
		 <h3>Detail</h3>
	        {% for outcome in merge_response.outcomes %}
		        <p>{{ outcome.step }}</p>
		        <ul>
		        <li>file: {{ outcome.outcome.file }}{{ outcome.outcome.name }}</li>
		        <li>type: {{ outcome.outcome.mimeType }}</li>
		        <li>id: {{ outcome.outcome.id }}</li>
		        </ul>
		 {% endfor %}
		 -->
            </div>
        </div>
{% endblock %}        
